body {
    margin: 0;
    background-image: url(../images/backgrounds/ghostface_in_fog.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner {
    background-image: url(../images/backgrounds/ghostface_caught_on_camera.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
    color: white;
}

h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 3rem;
    color: white;
}

h3 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

p {
    font-family: roboto, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 5% 10%
}


a {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 3vh 4vw;
    background-color: rgb(29, 29, 29);
    border-radius: 15%;
    border-style: none;
    text-decoration: none;
    font-size: 2.5rem;
}

a:hover {
    background-color: crimson;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.introduction img {
    max-height: 60vh;
}
.stats {
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    margin: 10% 0%;
}

.stats h1 {
    flex-basis: 100%;
}

.stats h2, .stats p {
    flex-basis: calc(100%/3);
    font-size: 2.5rem;
}

.stats h2 img {
    min-width: 3.5vw;
}

.stats section {
    flex-basis: calc(100%/3);
}

.power {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0%;
}

.power img {
    max-height: 25vh;
    max-width: 20vw;
    margin: 3% 0%;
}

.gameplay {
    display: flex;
    flex-direction: column;
}

.best-build {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.best-build h1, .best-build h2 {
    flex-basis: 100%;
}

.perk, .add-on {
    flex-basis: 50%;
    text-align: center;
}

.perk p {
    margin: 5% 10%
}

.youtube {
    margin: 3% 0%;
}

iframe {
    max-width: 80vw;
}

.home {
    margin: 5% 25%;
}

.home a {
    position: relative;
    left: 35%;
}

footer {
    background-color: rgb(51, 51, 51);
    padding-top: 3%;
}

footer h3 {
    margin: 0% 10%;
}

.social {
    display: flex;
    justify-content: space-around;
    max-width: 50vw;
    margin: 3% 25%;
}

.social .icon {
    display: flex;
    width: 4rem;
    height: 4rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
    padding: 0;
}

.copyright {
    background-color: black;
}

.copyright p {
    margin: 0;
}

.grow {
    transition: transform 1s;
    will-change: scale;
}
  
.grow:hover {
    transform: scale(1.2);
}

.form-link {
    display: flex;
    justify-content: center;
}

.form-link a {
    text-align: center;
    margin-bottom: 3vh;
}

@media screen and (max-width: 1380px) {
    .perk, .add-on {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 660px) {
    .perk img, .add-on img {
        max-width: 40vw;
        max-height: 40vh;
    }

    .banner {
        background-image: url(../images/backgrounds/ghostface.png);
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3, a {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
    
    .social .icon {
        width: 2rem;
        height: 2rem;
        font-size: 1.3rem;
    }

    iframe {
        max-height: 40vh;
    }

    .stats {
        flex-direction: column;
        min-height: 0;
    }

    .stats h2 {
        font-size: 1rem;
        margin-left: 2%;
    }

    .stats p {
        font-size: 1.3rem;
    }

    .value {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .value p {
        flex-basis: 50%;
    }

    .home a {
        padding: 2vh 3vw;
    }

    body {
        margin: 0;
        background-image: url(../images/backgrounds/small_ghostface_in_fog.png);
    }
}